sudo: required
language: go

services:
  - docker

go:
 - 1.7.x
 - master
 
before_install:
 - make start-seaweed-deamon
 
script:
  - go test --master "http://127.0.0.1:9333" --filer "http://172.0.0.1:8888"
